.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explode {
  animation: explode 0.5s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(0) rotate(90deg);
    opacity: 0;
  }
}
