$black: #0a0a0a;
$wine: #6c3c4b;
$tounge: #a45164;
$barbie: #e2778e;
$brown: #a55943;
$orange: #e79e5a;
$beige: #eead8c;
$lightyellow: #edd8a6;

.Button {
  padding: 12px 24px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: $lightyellow;
}

.Button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.yes-button,
.next-button {
  background-color: $orange;
  color: white;
}

.no-button {
  background-color: $barbie;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.no-button:hover {
  background-color: $wine;
}

.no-btn.explode {
  animation: explode 0.5s ease-out forwards;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-wrapper {
  position: relative;
}
