$black: #0a0a0a;
$wine: #6c3c4b;
$tounge: #a45164;
$barbie: #e2778e;
$brown: #a55943;
$orange: #e79e5a;
$beige: #eead8c;
$lightyellow: #edd8a6;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: $lightyellow;
  text-align: center;
  color: $black;
}

#arrow-span {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.arrow-left {
  height: 60px;
  width: 60px;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1,
h2 {
  font-family: 'Lobster', cursive;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-wrapper {
  position: relative;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: $lightyellow;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.yes-btn,
.next-btn {
  background-color: $orange;
  color: white;
}

.no-btn {
  background-color: $barbie;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.no-btn:hover {
  background-color: $wine;
}

@keyframes explode {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(45deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(0) rotate(90deg);
    opacity: 0;
  }
}

.no-btn.explode {
  animation: explode 0.5s ease-out forwards;
}

#heartContainer {
  max-height: 1vh;
}

.heart {
  position: fixed;
  font-size: 24px;
  animation: fall linear infinite;
  opacity: 0.8;
  pointer-events: none;
  top: -30px;
}
